---
layout: default
---
<!-- {% assign posts_count = (paginator.posts | size) %} -->

<div class="home">
<!-- <script type="text/javascript">
  console.log("{{page.url}}")
</script> -->
  <!-- {% if posts_count > 0 %} -->
  <div class="posts">
  <!-- <p>{{page.url | split: ' ' |first }}</p> -->
    {% for post in site.posts %}
        <div class="post py3 {{post.categories| join: ' '}}">
          <div class="clearfix border">
            <div class="col col-8 border"><img src="{{post.img}}"/></div>
            <div class="col col-4 border">
              <div class="clearfix border preview">
               <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h2 class="post-title h2 center" style="text-align: left;">{{ post.title }}</h2></a>
               <p class ="post-meta" > {% if post.date %} {{ post.date | date: '%B  %Y' }} {% endif %}</p>
               <p class ="post-summary"> {% if post.summary %}  {{ post.summary }} {% endif %}</p>

             </div>

           </div>
         </div>
       </div>
   {% endfor %}
 </div>

<!--  {% include pagination.html %}
 {% else %}
 <h1 class='center'>{{ site.text.index.coming_soon }}</h3>
  {% endif %} -->
</div>
