<!-- {% for page in site.pages %}
    {% if page.tags contains "about" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %}
{% for page in site.pages %}
    {% if page.tags contains "contact" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %} -->
<div class="tags">
<span style:"text-align: right;"><a href="http://shreeyashsalunke.com">Visit Portfolio<a></span>
<br><br>
{% for tag in site.categories %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}
  <!-- <div>{{t | downcase | replace:" ","-" }} has {{ posts | size }} posts</div> -->
  <a id='{{ t }}-item'class="blog-tag-item" onclick="filter('{{ t }}'); return false;">{{t | downcase }}</a>
{% endfor %}

</div>