<!-- {% for page in site.pages %}
    {% if page.tags contains "about" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %}
{% for page in site.pages %}
    {% if page.tags contains "contact" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %} -->
<span style=" margin-left: 90px;""><a href="http://shreeyashsalunke.com" class="portfolio-link" style=" color: #333333; border-bottom: 1px dashed #111;">Go to Portfolio<a>
<br>
<div class="tags">
{% for tag in site.categories %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}
  <!-- <div>{{t | downcase | replace:" ","-" }} has {{ posts | size }} posts</div> -->
  <a id='{{ t }}-item'class="blog-tag-item" onclick="filter('{{ t }}'); return false;">{{t | downcase }}</a>
{% endfor %}


</div>