
.posts {
  margin: 0;
}

.post-content-test{
  font-size: 0.8em;
}
.posts .post {
  margin-bottom: 0.75em;
  border-bottom: thin solid #f3f3f3;
}

.posts .post:last-child {
  border-bottom: none;
  margin-bottom: .375em;
  padding-bottom: 0;
}

.post-link .post-title {
  margin-top: 0;
  margin-bottom:  0;
  font-weight: 600;
  color: #333;
}

.post-summary {
  // color: #BBB;
  font-size: 0.7em;
  margin-top: 6em;
  font-family: $datetime-font-family;

}
.preview{
  
  border-left: solid #000000;
  padding-left: 1em;
  margin-left: 1em;
}
.post-footer {
  @extend .italic;

  margin-top: .75rem;
  text-align: center;
}

.post-footer .avatar {
  margin: 2rem 0;
  width: 100px;
  border-radius: 50%;
}

.meta,
.post-meta {
  width: auto;
  font-weight: 300;
  font-size: small;
  margin-bottom: 0.4em;
  padding: .1em 0;
  color: #7a7a7a;
  // font-style: italic;
  font-family: $datetime-font-family;
}

.related-post-title {
  border-bottom: thin solid #f3f3f3;
}
